@import "tailwindcss";

.login-page{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-family: Inter, sans-serif;
}

.login-box{
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.notion-logo{
  font-size: 36px;
  margin-bottom: 30px;
}

.login-top h2:first-of-type{
  font-size: 1.5rem;
  font-weight: 700;
  color: #111;
}

.login-top h3{
  font-size: 1.6rem;
  color: #8f8f8f;
  font-weight: 500;
}

.login-info{
  width: 100%;
}

.login-input{
  width: 100%;
}

.login-input label{
  font-size: 14px;
  color: #444;
  margin-bottom: -16px;
  display: block;
}

.login-input input{
  width: 100%;
  padding: 14px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

.login-input input:focus{
  border-color: #2383e2;
}

.login-input p{
  margin-top: 10px;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #888;
}

.login-input button{
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #2383e2;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.login-input button:hover{
  background: #1d74c9;
}

.login-options{
  margin-top: 30px;
}

.login-options fieldset{
  border: none;
  border-top: 1px solid #e3e3e3;
  text-align: center;
  padding-top: 20px;
}

.login-options legend{
  color: #999;
  padding: 0 12px;
  font-size: 14px;
}

.login-options{
  width: 100%;
}

.login-options fieldset{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.login-options button{
  width: 110px;
  height: 80px;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
}

.login-options button:hover{
  background: #fafafa;
}

.login-google-logo,
.login-apple-logo,
.login-microsoft-logo,
.login-passkey-logo,
.login-sso-logo{
  font-size: 24px;
}

.login-others{
  margin-top: 35px;
  text-align: center;
  width: 350px;
}

.login-others h3{
  font-size: 15px;
  color: #666;
  font-weight: 400;
}

.login-others h3 button{
  border: none;
  background: transparent;
  color: #2383e2;
  cursor: pointer;
  font-size: inherit;
  text-decoration: underline;
}

.login-others p{
  margin-top: 18px;
  font-size: 13px;
  color: #8f8f8f;
  line-height: 1.6;
}

.login-others p button{
  border: none;
  background: transparent;
  color: #8f8f8f;
  text-decoration: underline;
  cursor: pointer;
}